@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/js/codemirror.min.js"></script>
    <script src="~/js/javascript.min.js"></script>
    <style>
        /* Red theme */
        body {
            background-color: #f8f9fa;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            margin: 0;
        }
        .container-fluid {
            flex: 1;
            display: flex;
        }
        .sidebar {
            background-color: #dc3545;
            min-height: 100vh; /* Make sidebar fill the entire viewport height */
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;
        }
        .sidebar .nav-link {
            color: #fff;
        }
        .sidebar .nav-link:hover {
            background-color: #bd2130;
        }
        .content {
            flex: 1;
            margin-top: 50px;
        }
        /* Custom scrollbar styles */
        ::-webkit-scrollbar {
            width: 12px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-grow-1">
            <!-- Sidebar -->
            <div class="col-md-2 d-none d-md-block sidebar">
                <nav>
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="generator" asp-action="entities">Entities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="relationship" asp-action="relations">Entities Relation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Data Objects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="directory" asp-action="explore">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Download</a>
                        </li>
                    </ul>
                </div>
            </nav>
            </div>
            

            <!-- Content -->
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 content">
            <main role="main">
                @RenderBody()
            </main>
            </div>
            
        </div>
            
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/jstree.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

